
    <%- include('partials/head')%> 

    <%- include('partials/header')%> 
    <link rel="stylesheet" href="/css/perfil.css">
    <body>
      <div class="container ">

        <% if (locals.message) { %>
          <%= locals.message %>
      <%} %>

          
        <div class="logo">
          <img src="/img/iconeperfil.jpg"  alt="" width="120px" height="120px">
          <h2>PERFIL </h2>
          </div>
        
      
      <form class="form" action="/perfil" method="post"> 
      
        <div class="nome">
      
          <h3>NOME</h3>
         <input class="nome" value="<%= user.name %>" name="name" />  
      
    
      
        </div>
        <div class="email">
      
          <h3>EMAIL</h3>
          <p class="email">  <%= user.email %>  </p> 
      
        </div>
      
        <div class="condominio">
      
          <h3>CONDOMINIO</h3>
             
           <p class="condominio">  <%= user.condominio %>  </p> 


        </div>
      
        <div class="unidade">
          <h3>UNIDADE</h3>
          
          <p class="unidade">  <%= user.unidade %> </p> 
          
        </div>
        </form>

        <button class="btn" type="submit">SALVAR</button> 
      </div>
    
      </body>

      <footer>
        <section class="flex-container">
       <div class="footer-card">
           <h5>ApeGo - 2021 - Todos os direitos reservados.</h5>
       </div>
       
       <div class="footer-card">
           <img href="https://facebook.com" src="/img/face-icon-white.svg" width="30px" height="30px" hspace="15px">
           <img href="https://instagram.com" src="/img/insta-icon-white.svg" width="30px" height="30px" hspace="15px">
    
           
    
       </div>
       </section>
    </footer> 
    
    </html>
    
    
      




