
    <%- include('partials/head')%> 

    <%- include('partials/header')%> 
    <link rel="stylesheet" href="/css/perfil.css">

    <div>
        <img src="/img/iconeperfil.jpg" width="150px" height="150px">
      
        <h1>PERFIL </h1>

        
        <% if (locals.message) { %>
          <%= locals.message %>
      <%} %>

      
      </div>
      <form action="/perfil" method="post"> 
      <div class="container ">
        <div class="nome">
      
          <h3>Nome</h3>
         <input value="<%= user.name %>" name="name" />  
      
          <br>
      
        </div>
        <div class="email">
      
          <h3>EMAIL</h3>
          <p>  "<%= user.email %>"  </p> 
      
          <br>
        </div>
      
        <div class="condominio">
      
          <h3>CONDOMINIO</h3>
           <input value="<%= user.condominio %>" name="condominio" />  


          <br>
        </div>
      
        <div class="unidade">
          <h3>UNIDADE</h3>
          <input value="<%= user.unidade %>" name="unidade" /> 
          <br>
        </div>

        <button class="btn" type="submit">SALVAR</button> 
      </div>
    </form>
      
      


    <%- include('partials/footer')%>


